body {
	margin: 0;
	padding: 0;
}

.contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	flex-wrap: wrap;
}

.contain > div {
	box-sizing: border-box;
	width: 150px;
	height: 120px;
	border: 1px solid #f00;
}

.contain > div:nth-child(2) {
	height: 100px;
}

.contain > div:nth-child(3) {
	height: 40px;
}

.contain >div:last-child {
	height: 200px;
	border: 1px solid #0f0;
}

@media  all  and(max-width: 640px) {
.contain {
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.contain >div:last-child {
	order: -1;
}
}
