body {
	margin: 0;
	padding: 0;
}

.contain {
	display: flex;
	height: 300px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	flex-wrap: wrap;
	border: 1px solid black;
}

.contain > div {
	box-sizing: border-box;
	width: 150px;
	border: 1px solid #f00;
}

.contain div:first-child {
	height: 120px;
}

.contain  div:nth-child(2) {
	height: 100px;
}

.contain  div:nth-child(3) {
	height: 40px;
}

.contain div:last-child {
	height: 200px;
	border: 1px solid #0f0;
}
