
div.contanier{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: row nowrap;
	box-sizing: border-box;
}
.iterm{
	width: 150px;
	box-sizing: border-box;
	border: red solid 1px;
	padding: 20px;
}
*[class~="1"]{
	height: 120px;
}
*[class~="2"]{
	height: 100px;
}
*[class~="3"]{
	height: 40px;
}
*[class~="4"]{
	height: 200px;
	border-color: #0F0;
}
@media screen and (max-width: 640px){
	.contanier{
	align-iterms: flex-start;
	flex-wrap: wrap;
	}
	*[class~="4"]{
	order: -1;
	margin-bottom: 20px;
	}
}
